{% extends "base.html" %}


{% block content %}
<h1>Home page</h1>


  <!-- This form references the homePost route. -->
<form action="{% url 'homePost' %}" method="post">
{% csrf_token %}


<h3>Distance Covered (km) [betweeen 0 and 7]</h3>
<!-- Show radio button list named 'choice' -->
<input type="number" id="dist_covered" name="dist_covered"><br><br>

<h3>Cost in 100,000 dollars [betweeen 0 and 201]</h3>
<input type="number" id="cost" name="cost"><br><br>

<h3>Previous Club Cost in 100,000 dollars [betweeen 0 and 107]</h3>
<input type="number" id="prev_club_cost" name="prev_club_cost"><br><br>

<h3>Club Name</h3>
{% for choice in clubs %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}">
    <label for="choice{{ forloop.counter }}">{{ choice }}</label><br><br>
{% endfor %}
<br>

<!—Submit button is also contained in the form -->

<input type="submit" value="POST YOUR CHOICE">
</form>
<!-- End of form. -->


<!-- This error will notify the user if there are issues with the POST request -->
{% if errorMessage %}<p><strong>{{errorMessage}}</strong></p>{% endif %}
{% endblock content %}
